

*, *:after, *:before {
	box-sizing: border-box;
}

body {
    background-image: url("https://c4.wallpaperflare.com/wallpaper/80/859/695/coffee-beans-couple-wallpaper-preview.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "DM Sans", sans-serif;
	line-height: 1.5;

}

img {
	max-width: 100%;
	display: block;
}



input {
	appearance: none;
	border-radius: 10%;
}

.card {
	background: #b99d9d;
	margin: 2rem auto;
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 425px;
	border-radius: 10px;
	box-shadow: 0 10px 20px 0 rgba(#999, .25);
	padding: .75rem;
}

.card-image {
	border-radius: 8px;
	overflow: hidden;
	padding-bottom: 65%;
	background-image: url('https://t3.ftcdn.net/jpg/04/36/77/74/360_F_436777481_3Nk1sGJwa9UaYtJZ8dzeHVZrV4j0ACo3.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 0 5%;
	position: relative;
}

.card-heading {
	position: absolute;
	left: 10%;
	top: 15%;
	right: 10%;
	font-size: 1.75rem;
	font-weight: 700;
	color: #735400;
	line-height: 1.222;
	
}

.card-form {
	padding: 2rem 1rem 0;
}

.Sign-Up {
	padding: 2rem 1rem 0;
   
}

.input {
	display: flex;
	flex-direction: column-reverse;
	position: relative;
	padding-top: 1.5rem;
	
}

.input-label {
	color: #f5f5f5;
	position: absolute;
	top: 1.5rem;
	transition: .25s ease;
}

.input-field {
	border: 0;
	z-index: 1;
	background-color: transparent;
	border-bottom: 2px solid #eee; 
	font: inherit;
	font-size: 1.125rem;
	padding: .25rem 0;
	
}

.action {
	margin-top: 2rem;
   
	
}

.action-button {
    font: inherit;
	font-size: 1.25rem;
	padding: 1em;
	width: 100%;
	font-weight: 500;
	background-color: #16140b;
	border-radius: 6px;
	color: #FFF;
	border: 0;


}

.card-info {
	padding: 1rem 1rem;
	text-align: center;
	font-size: .875rem;
	color: #000000;
	
}

footer {
		text-align: center;
		color: white;
	   }


